.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--spacing-lg);
  height: 65px;
  background: white;
  border-bottom: 1px solid var(--color-border);
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo {
  height: 50px;
}

.links {
  display: flex;
  gap: var(--spacing-lg);
  list-style: none;
  margin: auto;
}

.links a {
  color: var(--color-text);
  font-weight: 500;
  text-decoration: none;
  transition: color 0.2s;
}

.links a:hover  {
  color: var(--color-primary);
  border-bottom: 2px solid var(--color-primary);
}

.links a.active {
  color: var(--color-primary);
  font-weight: 600;
  border-bottom: 2px solid var(--color-primary);
}